@media screen and (max-width: 1536px) {
    /* Base styles */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Roboto", sans-serif;
    }

    body {
        background: #F0EAE5;
        margin: 0;
    }

    .container {
        max-width: 96% !important;
    }

    #header {
        position: fixed;
        height: 111px;
        top: 0;
        z-index: 1;
        width: 100%;
        background-color: #ffffff;
        -moz-box-shadow: 0 2px 4px rgba(2, 21, 78, 0.09);
        -webkit-box-shadow: 0 2px 4px rgba(2, 21, 78, 0.09);
        box-shadow: 0 1px 0px rgba(2, 21, 78, 0.09);
    }

    .logo {
        width: 32%;
        padding: 10px 20px;
        padding-top: 25px;
    }

    img {
        width: 100%;
        height: auto;
    }

    .content-wrap {
        padding-top: 111px;
        height: calc(100vh - 111px);
    }
    .thanku-img {
        width: 15%;
        height: auto;
    }

    .thanku-text {
        background-image: url(./images/thank-you-title.png);
        width: 220px ;
        height: 50px;
        margin: 20px auto;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    .register-btn {
        background-color: #2A3C88;
        color: #fff;
        display: flex;
        width:180px;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    .thankyou-page-section {
        padding-top: 40px;
    }
}

@media screen and (max-width: 820px) {
    .logo {
        width: 70%;
    }

    .thanku-img {
        width: 40%;
    }
}

@media screen and (max-width: 468px) {
    .logo {
        width: 100%;
    }
}